# Hérite des exclusions de .gitignore
**/.git
**/.github
**/.vscode
**/.idea

# Fichiers spécifiques à Docker
Dockerfile
docker-compose.yml
.dockerignore

# Cache et logs
**/npm-cache
**/.npm
**/yarn-cache

# Dependencies
node_modules/